---
title: Welcome to VoteSounder
---


<section id="main" class="container">
  <section class="box special">
    <header class="major">
      <h2>
        About PickingPlaces
        </h2>
        <p></p>
    </header>
    <div class="row about-row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
      <p style="text-align: center;font-size: large;margin-bottom: 30px;">
      What if there was one place where people looking for a property could do all their research?  One place to collect all the information about properties they are interested in - schools nearby, parking, crime-rates etc.  And what if with a click they could share this information with their friends to get feedback and advice? Well, that is exactly what PickingPlaces provides.
      </p>
        <h3>
          What we offer
        </h3>
        <p>
          PickingPlaces provides an easy way to get feedback from your friends.  Its completely free and you do not need to create an account to use it.  
        </p>
    
        <h3 style="display:none;">
          What information about a property can be automatically retrieved from a url?
        </h3>
        <p>
        </p>
        <h3 style="display:none;">
          Coming soon
        </h3>
        <p style="display:none;">
          There are many improvements that the PickingPlaces team are working on at the moment.  For now, the priority is on improving the information we are able to retrieve about properties.
          Bookmarklet on its way. app??? A section for homeowners...
        </p>

      </div>
    </div>
  </section>
  <section style="" class="box special features">
    <div class="features-row">
      <section>
        <span class="icon major fa-bolt accent2"></span>
        <h3>Easy to setup</h3>
        <p>
          Within minutes you can start adding properties to your very own fully functional website.
        </p>
      </section>
      <section>
        <span class="icon major fa-line-chart accent3"></span>
        <h3>Constantly improving</h3>
        <p>
          We are constantly working on new features and upgrades. You will not need to do anything to take advantage of the improvements. They will be rolled out without any interuption to you.
        </p>
      </section>
    </div>
    <div class="features-row">
      <section>
        <span class="icon major fa-eur accent4"></span>
        <h3>Free for one month</h3>
        <p>
          After one month you can choose from 3 great value plans.
        </p>
      </section>
      <section>
        <span class="icon major fa-chain-broken accent5"></span>
        <h3>No commitments</h3>
        <p>
          There are no upfront costs and you are free to cancel at anytime.
        </p>
      </section>
    </div>
  </section>
</section>
