---
title: Welcome to VoteSounder
---


<section id="main" class="container">
  <section class="box special">
    <header class="major">
      <h2>
        About PickingPlaces
        </h2>
        <p></p>
    </header>
    <div class="row about-row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
      <p style="text-align: center;font-size: large;margin-bottom: 30px;">
      What if there was one place where people looking for a property could do all their research?  One place to collect all the information about properties they are interested in - schools nearby, parking, crime-rates etc.  And what if with a click they could share this information with their friends to get feedback and advice? Well, that is exactly what PickingPlaces provides.
      </p>
        <h3>
          What we offer
        </h3>
        <p>
          PickingPlaces provides an easy way to get feedback from your friends.  Its completely free and you do not need to create an account to use it.  
        </p>

        <h3>
          Your friends can be your best property search engine
        </h3>
        <p>
          Anyone who has spent some time searching for a property can tell you its hard work.  Surprisingly, many people do no ask friends for help.  We believe this is because emailing friends for help is not very efficient.  
        </p>    
        <p>
          With PickingPlaces, your friends can see all about your house hunt and can easily help in many ways.  They can add properties you may not have found on your own, give an opinion on those you've already added or simply give you some good advice about the neighbourhood.
        </p>
        <p>
          Help your friends to help you!
        </p>

        <h3>
          Sometimes you don't know what to ask
        </h3>
        <p>
          Another reason people do not ask for help is they often don't know what to ask.  If you have no reason to suspect a neighbourhood has a high level of crime, you might not even think to check that.  Its a case of unknown unknowns.
        </p>
        <p>
          Simply sharing your house hunting experience allows your friends to give you hints and advice you might not have thought about.
        </p>

        <p>
          You could even use your PickingPlaces poll as a negotiating tactic.  Showing a list of the alternatives you have available can strengthen your position when asking for a price reduction on a property.
        </p>


        <h3>
          A typical example
        </h3>
        <p>
          Bob and Tina wanted to buy a flat in Madrid.  They had seen over 5 properties that they were interested in but were finding it difficult to decide on exactly which one to go for.
        </p>
        <p>
          Normally they would not have bothered asking many of their friends for advice but when they realised how easy PickingPlaces was to use, they decided to give it a go.
        </p>
        <p>
          After sending out a tweet with a link to their poll, a friend pointed out that one of the flats was on a street in the center of the yearly neighbourhood fiestas.  It was not even a point they had thought to ask about.
        </p>

        <h3>
          The long term vision
        </h3>
        <p>
          We aim to evolve into a community that helps each other to find the perfect property. Over the coming months we will introduce features to encourage users to submit links to properties and give opinions and tips.
        </p>
    
        <h3 style="display:none;">
          What information about a property can be automatically retrieved from a url?
        </h3>
        <p>
        </p>
        <h3 style="display:none;">
          Coming soon
        </h3>
        <p style="display:none;">
          There are many improvements that the PickingPlaces team are working on at the moment.  For now, the priority is on improving the information we are able to retrieve about properties.
          Bookmarklet on its way. app??? A section for homeowners...
        </p>

      </div>
    </div>
  </section>
  <section style="display:none;" class="box special features">
    <div class="features-row">
      <section>
        <span class="icon major fa-bolt accent2"></span>
        <h3>Easy to setup</h3>
        <p>
          Within minutes you can start adding properties to your very own fully functional website.
        </p>
      </section>
      <section>
        <span class="icon major fa-line-chart accent3"></span>
        <h3>Constantly improving</h3>
        <p>
          We are constantly working on new features and upgrades. You will not need to do anything to take advantage of the improvements. They will be rolled out without any interuption to you.
        </p>
      </section>
    </div>
    <div class="features-row">
      <section>
        <span class="icon major fa-eur accent4"></span>
        <h3>Free for one month</h3>
        <p>
          After one month you can choose from 3 great value plans.
        </p>
      </section>
      <section>
        <span class="icon major fa-chain-broken accent5"></span>
        <h3>No commitments</h3>
        <p>
          There are no upfront costs and you are free to cancel at anytime.
        </p>
      </section>
    </div>
  </section>
</section>
